[Unit]
Description=PlayerCTL Volume Control Daemon
After=network.target pulseaudio.service

[Service]
ExecStart=~/GITS/VCMusicCTL/main.py # Change this
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target